<div>
  <h2 id="page-heading" data-cy="UserProfileHeading">
    <span jhiTranslate="jhipsterSampleApplicationApp.userProfile.home.title">User Profiles</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.userProfile.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-user-profile"
        [routerLink]="['/user-profile/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.userProfile.home.createLabel"> Create a new User Profile </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="userProfiles?.length === 0">
    <span jhiTranslate="jhipsterSampleApplicationApp.userProfile.home.notFound">No userProfiles found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="userProfiles && userProfiles.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.userProfile.id">Id</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.userProfile.name">Name</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.userProfile.priority">Priority</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.userProfile.dashboardLayout">Dashboard Layout</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let userProfile of userProfiles; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/user-profile', userProfile.id, 'view']">{{ userProfile.id }}</a>
          </td>
          <td>{{ userProfile.name }}</td>
          <td>{{ userProfile.priority }}</td>
          <td>
            <div *ngIf="userProfile.dashboardLayout">
              <a [routerLink]="['/dashboard-layout', userProfile.dashboardLayout?.id, 'view']">{{ userProfile.dashboardLayout?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/user-profile', userProfile.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/user-profile', userProfile.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(userProfile)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
